body{
    /* padding-top: 0px; */
    margin: 0px;
    font-size: 20px;
    /* background-color: red; */
    background-color: #f7da8b;
}

.bkg-img-home{
    background-color: red;
    background-image: url('../images/home-bkg.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    /* position: relative; */
    width: 100%;
    height: 100vh;
}

#button-icon{
    width: 10px;
}

#anchor-link-nodesign{
    text-decoration: none;
}

.bg-check{
    background-color: red;
}

.row{
    margin-top: 0.5rem!important;
}

.col-auto{
    margin-top: 0.5rem!important;
}

