body{
    /* padding-top: 0px; */
    margin: 0px;
    font-size: 20px;
    /* background-color: red; */
    background-color: #f7da8b;
}

.bkg-img-home{
    background-color: red;
    background-image: url('../images/home-bkg.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    /* position: relative; */
    width: 100%;
    height: 100vh;
}

#button-icon{
    width: 10px;
}

#anchor-link-nodesign{
    text-decoration: none;
}

.bg-check{
    background-color: red;
}

.row{
    margin-top: 0.5rem!important;
}

.col-auto{
    margin-top: 0.5rem!important;
}

.profilePicture{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tablePicture{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Color Palette */

/* Background styles */

body { 
    background:
    
	radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0),
	
	radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0),
	

	radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0),
	
	radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0),
	

	radial-gradient(circle closest-side at 30px 40px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0),
	radial-gradient(circle closest-side at 70px 40px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0),
	
	radial-gradient(circle closest-side at 130px 155px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0),
	radial-gradient(circle at 170px 155px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0)
	;
	background-color: #F9D8D4;
	background-size: 180px 210px;
	animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;
}