{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Management</title>
{% endblock %}


{% block topBarButtons %}
  <a href={{url_for('logout')}} id="anchor-link-nodesign">
    <button class="mdc-button mdc-button--raised" name="submit" type="submit">
      <span class="mdc-button__label">Logout</span>
    </button>
  </a>
  <button class="mdc-button" disabled>
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label"></span>
  </button>  
{% endblock %}

{% block main %}
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <h1>Welcome, {{ user['name'] }}</h1>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <h2>Admin</h2>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <a href={{url_for('allCustomers')}} id='anchor-link-nodesign'>
          <button class="mdc-button mdc-button--raised" name="submit" type="submit">
            <span class="mdc-button__label">Customers</span>
          </button>
        </a>
      </div>
      <div class='col-auto align-self-center'>
        <a href={{url_for('allRestaurant')}} id='anchor-link-nodesign'>
          <button class="mdc-button mdc-button--raised" name="submit" type="submit">
            <span class="mdc-button__label">Restaurant</span>
          </button>
        </a>
      </div>
      <div class='col-auto align-self-center'>
        <a href={{url_for('allDeliveryAgents')}} id='anchor-link-nodesign'>
          <button class="mdc-button mdc-button--raised" name="submit" type="submit">
            <span class="mdc-button__label">Delivery Agents</span>
          </button>
        </a>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <a href={{url_for('allRestaurant')}} id='anchor-link-nodesign'>
          <button class="mdc-button mdc-button--raised" name="submit" type="submit">
            <span class="mdc-button__label">Provide Restaurant Recommendation</span>
          </button>
        </a>
      </div>
      <div class='col-auto align-self-center'>
        <a href={{url_for('createOffer')}} id='anchor-link-nodesign'>
          <button class="mdc-button mdc-button--raised" name="submit" type="submit">
            <span class="mdc-button__label">Create Offer</span>
          </button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
