{% extends 'topBarAttached.html' %}

{% block title %}
  <title>Delivery Agent</title>
{% endblock %}


{% block topBarButtons %}
  <a href={{url_for('logout')}} id="anchor-link-nodesign">
    <button class="mdc-button mdc-button--raised" name="submit" type="submit">
      <span class="mdc-button__label">Logout</span>
    </button>
  </a>
  <button class="mdc-button" disabled>
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label"></span>
  </button>
{% endblock %}

{% block main %}
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <h1>Welcome, {{ user['name'] }}</h1>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <h2>Delivery Agent</h2>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <a href={{url_for('personalData')}} id="anchor-link-nodesign">
          <button class="mdc-button mdc-button--raised" name="submit" type="submit">
            <span class="mdc-button__label">Personal Details</span>
          </button>
        </a>
      </div>
      <div class='col-auto align-self-center'>
        <button class="mdc-button mdc-button--raised" name="submit" type="submit">
          <span class="mdc-button__label">Mark Location</span>
        </button>
      </div>
      <div class='col-auto align-self-center'>
        <button class="mdc-button mdc-button--raised" name="submit" type="submit">
          <span class="mdc-button__label">See Delivery Request</span>
        </button>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <button class="mdc-button mdc-button--raised" name="submit" type="submit">
          <span class="mdc-button__label">Accept Delivery Request</span>
        </button>
      </div>
      <div class='col-auto align-self-center'>
        <button class="mdc-button mdc-button--raised" name="submit" type="submit">
          <span class="mdc-button__label">See Current Order</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
