{% extends 'base.html' %}

{% block head %}
<title>Delivery Agent Signup</title>
{% endblock %}

{% block body %}
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu" disabled>room_service</button>
        <!-- <img src="../static/images/delivery image.jpeg" id="botton-icon"> -->
        <span class="mdc-top-app-bar__title">Zomato</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Go Back" onclick="history.back()">arrow_back</button>

      </section>
    </div>
  </header>
  
  <!-- <div class="bkg-img-home"></div> -->
  
  <main class="mdc-top-app-bar--fixed-adjust">
    <centre>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-3"></div>
            <div class="col-6 align-self-center">
              <h1>Delivery Agent Signup</h1>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col align-self-center">
              <span class="material-icons ">
                perm_identity
              </span>            
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <span class="mdc-text-field__ripple"></span>
                <!-- <form action="" method="POST">                                        Link to validate for error -->
                <input class="mdc-text-field__input" type="text" placeholder="Your Name" aria-label="Label"><br>
                  
                <!-- </form> -->
                <span class="mdc-line-ripple"></span>
              </label>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col align-self-center">
              <span class="material-icons ">
                perm_identity
              </span>            
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <span class="mdc-text-field__ripple"></span>
                <!-- <form action="" method="POST">                                        Link to validate for error -->
                <input class="mdc-text-field__input" type="date" placeholder="Date of Birth" aria-label="Label"><br>                  
                <!-- </form> -->
                <span class="mdc-line-ripple"></span>
              </label>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col align-self-center">
              <span class="material-icons ">
                perm_identity
              </span>            
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <span class="mdc-text-field__ripple"></span>
                <!-- <form action="" method="POST">                                        Link to validate for error -->
                <input class="mdc-text-field__input" type="text" placeholder="Gender" aria-label="Label"><br>                  
                <!-- </form> -->
                <span class="mdc-line-ripple"></span>
              </label>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col align-self-center">
              <span class="material-icons ">
                perm_identity
              </span>            
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <span class="mdc-text-field__ripple"></span>
                <!-- <form action="" method="POST">                                        Link to validate for error -->
                <input class="mdc-text-field__input" type="text" placeholder="Mobile Number" aria-label="Label"><br>                  
                <!-- </form> -->
                <span class="mdc-line-ripple"></span>
              </label>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col align-self-center">
              <span class="material-icons ">
                perm_identity
              </span>            
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <span class="mdc-text-field__ripple"></span>
                <!-- <form action="" method="POST">                                        Link to validate for error -->
                <input class="mdc-text-field__input" type="text" placeholder="Username" aria-label="Label"><br>                  
                <!-- </form> -->
                <span class="mdc-line-ripple"></span>
              </label>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col align-self-center">
              <span class="material-icons ">
                perm_identity
              </span>            
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <span class="mdc-text-field__ripple"></span>
                <!-- <form action="" method="POST">                                        Link to validate for error -->
                <input class="mdc-text-field__input" type="password" placeholder="Password" aria-label="Label"><br>                <!-- </form> -->
                <span class="mdc-line-ripple"></span>
              </label>
            </div>
          </div>

          
        </div>
      </centre>
  </main>
  
  
  
  
  


      
{% endblock %}