{% extends 'base.html' %}

{% block head %}
<title>Login page</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/textField.css')}}>
<link rel="stylesheet" type="text/css" href ={{ url_for('static', filename='css/signupCSS.css')}}>
{% endblock %}

{% block body %}
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href={{url_for('index')}} id = "anchor-link-nodesign">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu" disabled>room_service</button>
        </a>
        <span class="mdc-top-app-bar__title">Zomato</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Go Back" onclick="history.back()">arrow_back</button>
      </section>
    </div>
  </header>
<script>
  const textField4 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-5'));
  const textField5 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-6'));
</script>
{% endblock %}