{% extends 'topBarAdded.html' %}


{% block head %}

<title>First Page</title>

{% endblock %}

{% block topBarButtons %}
      <a href={{ url_for('signUp')}} id="anchor-link-nodesign">
        <div class="mdc-touch-target-wrapper">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Signup</span>
            <!-- <span class="mdc-button__touch"></span> -->
          </button>
        </div>    
      </a>
      <button class="mdc-button" disabled>
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label"></span>
      </button>   
      <a href={{ url_for('login')}} id="anchor-link-nodesign">
        <div class="mdc-touch-target-wrapper">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Login</span>
            <!-- <span class="mdc-button__touch"></span> -->
          </button>
        </div>  
      </a>
      <button class="mdc-button" disabled>
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label"></span>
      </button> 
{% endblock %} 

{% block main %}

<div class="bkg-img-home">
</div>
{% endblock %}
      