{% extends 'base.html' %}

{% block head %}
<title>Login page</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/textField.css')}}>
<link rel="stylesheet" type="text/css" href ={{ url_for('static', filename='css/signupCSS.css')}}>
{% endblock %}

{% block body %}
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu" disabled>room_service</button>
        <!-- <img src="../static/images/delivery image.jpeg" id="botton-icon"> -->
        <span class="mdc-top-app-bar__title">Zomato</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Go Back" onclick="history.back()">arrow_back</button>
      </section>
    </div>
  </header>
  <main class="mdc-top-app-bar--fixed-adjust">
      <div class='container'>
        <div class="row justify-content-center">
            <div class="col-auto align-self-center">
              <h1>Login</h1>
            </div>
          </div>
          {% if message != "False" %}
          <div class="row justify-content-center">
            <div class="col-auto align-self-center">
              {{ message }}
            </div>
          </div>
          {% endif%}
          <form action={{url_for('token')}} method="POST">
            <div class='row justify-content-center'>
                <div class='col-6 align-self-center'>
                    <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon text-field-5">
                        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">alternate_email</i>
                        <span class="mdc-notched-outline">
                          <span class="mdc-notched-outline__leading"></span>
                          <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Email Id</span>
                          </span>
                          <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <input type="email" class="mdc-text-field__input" aria-labelledby="my-label-id" name="email">
                      </label>
                </div>
            </div>
            <div class='row justify-content-center'>
                <div class='col-6 align-self-center'>
                    <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon text-field-6">
                        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">password</i>
                        <span class="mdc-notched-outline">
                          <span class="mdc-notched-outline__leading"></span>
                          <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Password</span>
                          </span>
                          <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <input type="password" class="mdc-text-field__input" aria-labelledby="my-label-id" name="password">
                      </label>
                </div>
            </div>
            <div class='row justify-content-center'>
                <div class='col-auto align-self-center'>
                    <button class="mdc-button mdc-button--raised">
                        <span class="mdc-button__label">Login</span>
                      </button>
                </div>
              </div>
            </form>
            <div class='row justify-content-center'>
              <div class='col-auto align-self-center'>
                  <a href={{url_for('signUp')}} id="anchor-link-nodesign">
                      <button class="mdc-button mdc-button--raised">
                          <span class="mdc-button__label">Signup</span>
                      </button>
                  </a>
              </div>
            </div>
      </div>
</main>
<script>
    const textField4 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-5'));
    const textField5 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-6'));
  </script>
{% endblock %}