{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Restaurant Signup</title>
{% endblock %}

{% block main %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-3"></div>
          <div class="col-6 align-self-center">
            <h1>Restaurant Signup</h1>
          </div>
        </div>
        {% if message!="False" %}
        <div class="row justify-content-center">
          <div class="col-auto align-self-center">
            {{ message }}
          </div>
        </div>
        {% endif %}
        <form action={{url_for('restaurantsignup')}} method="POST" enctype="multipart/form-data">
          <div class="row justify-content-center">
            <div class="col align-self-center">          
              <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon text-field-1">
                <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">perm_identity</i>
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id">Your Name</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" name="name" required>
              </label>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6 align-self-center">
              <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">insert_photo</i>
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <input type="file" id="inputImage" name="local_file_path" accept="image/*">
              </label>
            </div>
            <div class="col-6 align-self-center">
              <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">home</i>
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select class="form-select gender-form form-select-lg mb-2" aria-label="Default select example" name="area">
                  <option selected value="Other">Area</option>
                  {% for area in area_dict %}
                  <option value={{ area['areaId'] }}>{{ area['name'] }}</option>
                  {% endfor %}
                  <option value="Other">Other</option>
                </select>   
              </label>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col align-self-center">
              <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon text-field-5">
                <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">alternate_email</i>
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id">Email Id</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <input type="email" class="mdc-text-field__input" aria-labelledby="my-label-id" name="email" required>
              </label>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col align-self-center">
              <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon text-field-6">
                <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">password</i>
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id">Password</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <input type="password" class="mdc-text-field__input" aria-labelledby="my-label-id" name="password" required>
              </label>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto align-self-center">
              <button class="mdc-button mdc-button--raised" type="submit" name="submit">
                <span class="mdc-button__label">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    <script>
      const textField = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-1'));
      const textField4 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-5'));
      const textField5 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-6'));
      const textField6 = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field.text-field-7'));
    </script>
{% endblock %}