{% extends 'base.html' %}

{% block head %}
<title>Signup Page</title>
{% endblock %}

{% block body %}
<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu" disabled>room_service</button>
      <!-- <img src="../static/images/delivery image.jpeg" id="botton-icon"> -->
      <span class="mdc-top-app-bar__title">Zomato</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Go Back" onclick="history.back()">arrow_back</button>
    </section>
  </div>
</header>
  
  <!-- <div class="bkg-img-home"></div> -->
  <main class="mdc-top-app-bar--fixed-adjust">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-3"></div>
              <div class="col-6 align-self-center">
                <h1>Customer Signup</h1>
              </div>
            </div>
              <div class="row justify-content-center" >
                  <!-- <div class="col-3"></div> -->
                  <div class="col-md-auto align-self-center">
                    <a href={{ url_for('customerSignup', message=message)}} id="anchor-link-nodesign">
                        <div class="mdc-touch-target-wrapper">
                            <button class="mdc-button mdc-button--raised">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Customer</span>
                            <!-- <span class="mdc-button__touch"></span> -->
                            </button>
                        </div>    
                    </a>
                  </div>
                  <div class="col-md-auto align-self-center">
                    <a href={{ url_for('restaurantSignup', message=message)}} id="anchor-link-nodesign">
                        <div class="mdc-touch-target-wrapper">
                            <button class="mdc-button mdc-button--raised">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Restaurant</span>
                            <!-- <span class="mdc-button__touch"></span> -->
                            </button>
                        </div>    
                    </a>
                  </div>
                  <div class="col-md-auto align-self-center">
                    <a href={{ url_for('deliveryAgentSignup', message=message)}} id="anchor-link-nodesign">
                        <div class="mdc-touch-target-wrapper">
                            <button class="mdc-button mdc-button--raised">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Delivery Agent</span>
                            <!-- <span class="mdc-button__touch"></span> -->
                            </button>
                        </div>    
                    </a>
                  </div>
              </div>
          </div>
          </div>
          </main>
{% endblock %}